.prof-wrapper {
    margin: 95px 30px 30px 30px;
    height: 500px;
}
.prof {
    max-width: 1200px;
    margin: auto;
    padding: 65px 0;
    display: flex;
    align-items: center;

}
.prof-left {
    margin-right: 50px;
}
.prof-left img {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.prof-left h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
}
.prof-left p {
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
}
.prof-right h3 {
    font-size: 40px;
}
.prof-right p {
    padding-top: 10px;
    font-size: 20px;
    line-height: 25px;
}

.sns-wrapper {
    margin: 0 30px 30px 30px;
    text-align: center;
}

.sns {
    float: left;
    width: 25%;
    padding: 20px 0;
}

.sns-icon {
    position: relative;
    width: 100px;
    margin: auto;
}
.sns-icon img {
    background-color: white;
    width: 100px;
    margin: auto;
    border-radius: 50px;

}

.sns-icon i {
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 28px;
    color: rgb(60, 110, 62);
    text-shadow: #fff 2px 2px 0, #fff -2px -2px 0, #fff -2px 2px 0, #fff 2px -2px 0, #fff 0px 2px 0, #fff 0 -2px 0, #fff -2px 0 0, #fff 2px 0 0;
}

.youtube i {
    left: 22px;
}

.twitter i {
    left: 28px;
}
.snses {
    max-width: 1200px;
    height: 140px;
    margin: auto;
    /* overflow: hidden; */
}

.bio-wrapper {
    margin: 30px;
}
.bio-wrapper h3 {
    font-size: 35px;
    padding: 30px 0 0 30px;
}

.timeline {
    width: 96%;
    max-width: 940px;
    margin: 0 auto;
}

.timeline-list {
    padding: 40px 0;
}

.timeline-list-item {
    display: flex;
    line-height: 1.5;
    font-size: 16px;
}

.timeline-list-item .date {
    min-width: 61px;
    width: 10%;
    padding-left: 20px;
    margin-right: 15px;
    color: #888888;
    font-weight: bold;
}

.tbr {
    display: none;
}

.timeline-list-item .contentA, .timeline-list-item .contentB, .timeline-list-item .dummy {
    position: relative;
    width: 80%;
    padding: 0 0 40px 30px;
    border-left: 1px solid #aaaaaa;
    font-size: 20px;
}

.timeline-list-item .contentA::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #00c2bc;
    border-radius: 10px;
}

.timeline-list-item .contentB::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #c20071;
    border-radius: 10px;
}