/*for tablet*/
@media all and (max-width: 1000px) {
    .contact-wrapper {
    margin: 85px 20px 20px 20px;
    }
}
/*for smartphone*/
@media all and (max-width: 670px) {
    .contact-wrapper {
        margin: 75px 10px 10px 10px;
        text-align: center;
    }
    .way {
        padding: 60px 0;
    }
}