/*for tablet*/
@media all and (max-width: 1000px) {
    .flex {
        display: block;
    }
    .top-wrapper {
        margin: 85px 20px 20px 20px;
    }
    .news-wrapper, .blog-wrapper {
        margin: 0 20px 20px 20px;
        width: auto; 
    }
    .sns-wrapper {
        margin: 0 20px 30px 20px;
    }
    .blog-recommend {
        height: 420px;
        
    }
}

/*for smartphone*/
@media all and (max-width: 670px) {
    .top-wrapper {
        margin: 75px 10px 10px 10px;
    }
    .top-wrapper img {
        border-radius: 100px;
        max-width: 300px;
        width: 80%;
        max-height: 300px;
        margin: 85px 0;
    }
    .sns-wrapper {
        margin: 0 10px 20px 10px;
    }
    .news-wrapper {
        margin: 0 10px 10px 10px;
    }
    .news {
        height: 200px; 
    }
    .btn-archive {
        float: none;
    }
    .btn-archive a {
        font-size: 20px;
        height: 30px;
        width: 200px;
        margin: 0;
        padding-top: 5px;
        border-radius: 7px;
        text-align: center;
    }
    .title {
        font-size: 35px;
    }
    .blog-wrapper {
        margin: 0 10px 10px 10px;
    }
    .sns {
        width: 50%;
    }
    .snses {
        max-width: 400px;
        height: 284px;
    }
}
