/*for tablet*/
@media all and (max-width: 1000px) {
    .news-wrapper {
        margin: 85px 20px 20px 20px;
        }
}

/*for smartphone*/
@media all and (max-width: 670px) {
    .news-wrapper {
        margin: 75px 10px 10px 10px;
        height: 800px;
    }
    .news {
        max-width: 500px;
    }
    .title {
        font-size: 28px;
    }
    .contents {
        font-size: 16px;
    }
}